@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Coda, sans-serif;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.oneButton {
  @apply px-4  bg-[#232323];
  border-radius: 10px 10px 0px 0px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}


